.social_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: #0192BE;
}

.social_list li {
    display: flex;
    margin: 0 2em;
    align-items: center;
    gap: 3px;
}

.social_list svg {
    font-size:  2em;
    cursor: pointer;
    color: blue;
}

.footer_d {
    padding: 10px;
    display: flex;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    background: #00789c;
    color: #FFF;
    justify-content: center;
    align-items: center;
}

.footer_img {
    width: 100px;
}