@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}


:root {
    --primary-color: #0192BE;
  }

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background: var(--primary-color);
    padding: 1%;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-right: 2em;
}

.cadastrar_button {
    color: #C1C1C1;
    font-size: clamp(20px, 2vw, 50px);
}

.login_button {
    border: none;
    background: white;
    font-size: 2vw;
    padding: 2px 23px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.login_button:hover{
    background: rgba(255, 255, 255, 0.826);
}