.bottom_bar {
    display: flex;
    justify-content: center;
    background: black;
    width: 100%;
    gap: 4vw;
    padding: 10px;
    position: fixed;
}

.icons {
    color: white;
    font-size: 70px;
}

.icons:hover {
    color: #0192BE;
}