.capa {
    width: 825px;
    padding: 20px;
    background-image: url(./music_images/redhot.png);
    background-size: cover;
    background-position-y: center;
    border-radius: 18px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    font-size: 2em; 
    color: black;
}

.tittleH1 {
    margin-top: 50px;
    font-size: clamp(35px, 2vh, 80px);
}

.container_main {
    margin-left: 80px;
}

@media (max-width: 767px) {
    .capa {
        width: 380px;
        padding: 10px;
    }

    .container_main {
        margin-left: 30px;
        height: calc(100vh - 230px);
    }
}