@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Varela+Round&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

.div_main {
    display: flex;
}

.tittle {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.div_aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
    flex-basis: 50%;
    height: 100vh;
    padding: 91px 44px;
}

.div_aside_span {
    font-size: clamp(20px, 3.5vw, 70px);
    font-weight: 600;
}

.container_main {
    background: #D9D9D9;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 58px 56px 30px 52px;
    gap: 16px;
    font-size: clamp(20px,1.5vw, 70px);
}

.mail {
    display: flex;
    align-items: center;
    background: #fff;
    min-width: max-content;
    border-radius: 10px;
    padding: 7.5px;
}

.email {
    border: none;
    width: 25vw;
    font-size: clamp(15px, 1vw, 70px);
    padding: 7.5px;
    outline-color: #0192BE;
}

.icons_form {
    margin: 0 15px;
    font-size: 2em;
    cursor: pointer;
}

.password {
    display: flex;
    align-items: center;
    background: #fff;
    min-width: max-content;
    border-radius: 10px;
    padding: 7.5px;
}

.passwd {
    border: none;
    width: 25vw;
    font-size: clamp(15px, 1vw, 70px);
    padding: 7.5px;
    outline-color: #0192BE;
}

.esqsen {
    color: black;
    font-size: clamp(15px, 1.1vw, 70px);
    font-weight: 600;
    width: max-content;
}

.botao {
    width: max-content;
    margin: 0 auto;
    border: none;
    background: #0192BE;
    color: white;
    padding: 10px 50px;
    border-radius: 30px;
    font-size: clamp(15px, 2vw, 70px);
    text-decoration: none;
    font-weight: bold;
}

.botao:hover {
    background: #0192bec4;
}

.not_sign {
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
    font-size: clamp(15px, 1vw, 70px);
}

.not_sign a {
    color: black;
}

.not_sign a:hover {
    color: #0192BE;
}

@media (max-width: 767px) {
    .div_main {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: auto;
    }
    
    h1 {
        margin-bottom: 68px;
    }

    .div_aside {
        display: none;
    }

    .container_main {
        background: white;
        margin: 0;
        padding: 21px 10;
    }
    
    label {
        font-size: 25px;
    }

    .icons_form {
        display: none;
    }

    .mail {
        background: #D9D9D9;
        border-radius: 0px;
        min-width: 0;
    }

    .email {
        background: #D9D9D9;
        width: 100%;
        color: rgb(0, 0, 0);
        font-size: 30px;
    }

    ::placeholder {
        color: #D9D9D9;
    }

    .password {
        background: #D9D9D9;
        border-radius: 0px;
        min-width: 0;
    }

    .passwd {
        background: #D9D9D9;
        width: 100%;
        color: rgb(0, 0, 0);
        font-size: 30px;
    }

    .esqsen {
        margin: 0 auto;
        font-size: 25px;
        margin: 36px auto 46px;
        font-weight: 400;
    }

    .botao {
        padding: 16px 84px;
        font-size: 35px;
        border-radius: 40px;
    }

    .not_sign {
        display: none;
    }

}