.container_main {
    margin: 0 auto;
    width: max-content;
}

.bottom_bar {
    display: none;
}

@media( max-width: 767px) {
    .bottom_bar {
        display: block;
    }

    .container_main {
        margin: 0 auto;
        width: max-content;
        height: calc(100vh - 190px);
    }    
}