.container_main {
    display: flex;
}

.containerAddPlaylist {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconAdd {
    font-size: 40px;
    color: green;
}

.newPlaylist {
    display: flex;
    align-items: center;
    gap: 1vw;
    background: rgb(0, 0, 0);
    padding: 5px 15px;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
}

.buttonNewPlaylist {
    border: none;
    background: none;
    color: white;
    font-size: clamp(15px, 1.5vw, 30px);
    font-weight: bold;
    cursor: pointer;
}

.container_m {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    height: calc(100vh - 110px);
}

.tittlePlaylist {
    font-size: clamp(40px, 3vw, 80px);
}

.backgroundPlaylist {
    width: 20vw;
}

.infosPlaylist {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: clamp(15px, 1.5vw, 50px);
    padding: 20px;
    border-radius: 30px;
    background: rgb(175, 175, 175);
}

.quantPlaylist {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
}

.iconSettings {
    font-size: 40px;
    color: black;
    cursor: pointer;
}

@media(max-width: 767px) {
    .infosPlaylist {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 15px;
        border-radius: 30px;
        background: rgb(175, 175, 175);
    }

    .backgroundPlaylist {
        width: 35vw;
    }
}