.capa {
    width: 825px;
    height: 68px;
    background-image: url(./music_images/redhot.png);
    background-size: cover;
    background-position-y: center;
    border-radius: 18px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    font-size: 2em; 
    color: black;
}

.container_main {
    margin-left: 120px;
}

.tittlePlaylist {
    margin-top: 40px;
    font-size: 40px;
}