.capa {
    width: 825px;
    height: 68px;
    background-image: url(./music_images/redhot.png);
    background-size: cover;
    background-position-y: center;
    border-radius: 18px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    font-size: 2em; 
    color: black;
    text-decoration: none;
}

.container_main {
    margin-left: 120px;
}

.tittlePlaylist {
    margin-top: 40px;
    font-size: 40px;
}

@media (max-width: 767px) {

    .capa {
        width: 350px;
        padding: 40px;
    }

    .container_main {
        height: calc(100vh - 220px);
        margin-left: 30px;
    }
}