.container_main {
    display: flex;
    height: calc(100vh - 110px);
}

.tittle_main {
    margin: 30px 0;
    font-size: clamp(45px, 3vw, 80px);
}

.musics {
    margin-left: 30px;
}

.capa {
    width: 825px;
    height: 68px;
    background-image: url(./music_images/capa_californication.png);
    background-size: cover;
    background-position-x: right;
    border-radius: 18px;
}

.musicRanking {
    display: flex;
    align-items: center;
    gap: 20px;
}

.iconRemove {
    cursor: pointer;
    font-size: 40px;
    color: red;
}

@media (max-width:767px) {
    .capa {
        width: 330px;
        background-image: url(./music_images/capa_californication.png);
        background-size: cover;
        background-position-x: right;
        border-radius: 18px;
    }
}