.container_main {
    width: 100vw;
    height: 100vh;
}

.containerSearch {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 100px auto;
    width: auto;
    max-width: 60%;
    padding: 10px 30px;
    border-radius: 40px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px #858585;
}

.inputBar {
    width: 100%;
    padding: 5px;
    font-size:20px;
    border: none;
    outline: none;
    background: none;
    color: black;
}

.icon {
    font-size: 50px;
    color: black;
    cursor: pointer;
}

.icon:hover{
    color: #0192BE;
}

@media(max-width: 767px) {
    .containerSearch {
        width: 90%;
        margin-bottom: 476px;
        max-width: none;
    }

    .inputBar {
        font-size: 20px;
    }

}