.container_main {
    margin-left: 10%;
    height: calc(100vh - 220px);
}

.tittleH1 {
    margin: 40px 0;
    font-size: clamp(40px, 3vw ,80px);
}

.styleLi{
    font-size: clamp(30px, 2.5vw, 70px);
    margin-left: 6%;
}

.styleLi:hover{
    color: #0192BE;
    cursor: pointer;
}