.container_main {
    display: flex;
    margin: 0 auto;
    width: max-content;
    flex-direction: column;
    margin-top: 30px;
}

h1 {
    display: flex;
}

.img_custom {
    /* width: 400px; */
    width: 750px;
}

@media(max-width: 767px) {

    .container_main {
        display: flex;
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
        margin-top: 30px;
    }

    .img_custom {
        width: 400px;
    }
}